---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    color: #242626;
    background-color: #e1e2e1;
    background-image: none;
    font-family: "Roboto", "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Aleo", "Copse", serif;
}

h4, h5, h6 {
    font-family: "Roboto", "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    color: #4c4e4e;
}

ul {
    list-style: disc;
}

code {
    margin: 0;
    padding: 2px;
    color: #242626;
    background-color: #e1e2e1;
    text-shadow: none;
    white-space: pre-wrap;
}

pre {
    code {
        background-color: #242626;
        color: #e1e2e1;
    }
}

header {

    width: auto;
    background-color: #242626;
    background-image: none;
    padding-top: 15px;

    h1 {
        font-size: 36px;
    }
    
    p {
        font-family: "Aleo", "Copse", serif;
    }
    
}

div#banner {

    top: 105px;
    margin-right: -458px;
    background-color: #ffd007;
    border: 0 none transparent;
    padding: 0;

    span#logo {
        background-image: url({{ '/assets/image/ddc.png' | relative_url }});
        background-size: contain;
    }
    
    a.button.fork {
        margin-left: -410px;
    }

    div.downloads {
    
        position: absolute;
        float: left;
        height: 100%;
        right: 872px;
        margin: 0;
        padding: 0;
        
        ul {
        
            position: relative;
            height: 36px;
            margin: 8px 0 0 0;
            padding: 0;
            list-style: none;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        
            li {

                position: relative;
                height: 100%;
                text-align: center;
                padding: 0;
                margin-right: 12px;
                display: inline-block;
            
                a {
                
                    background-color: transparent;
                    text-decoration: none;
                    display: inline-block;
                    height: 100%;
                    
                    span {
                    
                        height: 100%;
                        display: block;
                        color: #242626;
                        text-shadow: none;
            
                        i.fa {
                        
                            display: inline-block;
                            height: 100%;
                            top: 0;
                            right: 0;
                            padding: 0;
                            
                            &.fa-stack-2x.fa-github {
                                font-size: 42px;
                                margin: -4.5px 0 -12px 0;
                            }

                        }
                                                
                    }
                    
                }

            }
            
        }
        
    }

    div.page-navigator {
    
        position: absolute;
        left: 100%;
        height: 100%;
        width: 820px;
        max-width: 100%;
        margin: 0 0 0 -867px;
        
        ul {
        
            display: block;
            position: absolute;
            top: 15px;
            width: 100%;
            margin: 0;
            text-align: center;
            list-style: none;
            font-size: 16px;
        
            li {
            
                margin: 0 4%;
                font-family: "Roboto", "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                
                a {
                
                    color: #242626;
                    font-weight: bold;
                    
                    &:hover {
                        color: #6c6f6f;
                    }
                  
                }
                
            }
            
        }
        
        
    }
    
}

div.wrapper {
    
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
    
    nav {
    
        top: 210px;
        margin-left: -625px;
        width: 200px;
        
        ul {

            font-size: 16px;

            li {
            
                //font-family: "Aleo", "Copse", serif;
                font-family: "Roboto", "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                margin-top: 0.75em;

                &:first-child {
                    margin-top: 0;
                }

                a {

                    font-weight: bold;
                    color: #242626;
                    
                    &:hover {
                        color: #6c6f6f;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                    }
                    
                }

                &.tag-h3 {
                    font-size: 14px;
                    text-align: right;
                    list-style-type: circle;
                    direction:rtl;
                    margin: -0.25em 1em 0 0;
                }

                &.tag-h4, &.tag-h5, &.tag-h6 {
                    display: none;
                }

                span.no-nav {
                    display: none;
                }
            }
        }
        
    }
    
    section {
        background-color: #f5f5f6;
        width: 760px;
        max-width: 92.68%;
        padding-bottom: 20px;
        margin-top: 180px;
        margin-bottom: 20px;
    }
    
    footer {
    
        position: relative;
        margin: 0 auto;
        width: 100%;
        left: 0;
        bottom: 0;

        p {
            text-align: center;
            font-size: small;
            margin: 0;
        }
        
    }
}

*[id], a[name] {
    scroll-margin-top: 155px;
    scroll-snap-margin-top: 155px;
}

@media print, screen and (max-width: 1060px) {

    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    header {
        
        h1 {
            font-size: 28px;
        }
        
        p {        
            font-size: 16px;
        }
        
    }
    
    div#banner {
    
        div.downloads {
            left: 0;
            margin-left: 16px;
        }

        div.page-navigator {

            height: 100%;
            width: 820px;
            max-width: 100%;
            margin: 0;
            top: 0;
            left: 0;
            right: 0;

            ul {

                top: 16px;
                font-size: 14px;
                
                li {
                    margin: 0 2%;
                }
                
            }
          
        }
        
    }

}

@media print, screen and (max-width: 720px) {

  div#banner {
    top: 80px;
  }

  div.wrapper section {
    margin-top: 125px;
  }
  
  *[id], a[name] {
      scroll-margin-top: 110px;
      scroll-snap-margin-top: 110px;
  }

}
